#include <physical_layouts.dtsi>

/ {
    booxiedaisy_physical_layout: booxiedaisy_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Macro Pad";
        kscan = <&default_kscan>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  120    0       0     0     0>
            ;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        booxiedaisy_physical_layout {
            physical-layout = <&booxiedaisy_physical_layout>;
            positions = <>;
        };
    };
};
