#include "booxiedaisy-layouts.dtsi"
#include <dt-bindings/zmk/matrix_transform.h>

&physical_layout0 {
    transform = <&matrix_transform0>;
};

/ {
    chosen {
        zmk,kscan = &default_kscan;
        zmk,physical-layout = &physical_layout0;
    };

    matrix_transform0: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <2>;
        rows = <1>;
        map = <
            RC(0,0) RC(0,1)
        >;
    };

    default_kscan: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "default_kscan";

        input-gpios =
            <&pro_micro  9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
            <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            ;
    };

};
