if SHIELD_SAY_GAY_DONGLE

config ZMK_KEYBOARD_NAME
    default "Say Gay"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config BT_MAX_CONN
    default 3

config BT_MAX_PAIRED
    default 3

config ZMK_SPLIT_BLE_PERIPHERAL_COUNT
    int
    default 2

endif

if SHIELD_SAY_GAY_LEFT || SHIELD_SAY_GAY_RIGHT

config ZMK_SPLIT
    default y

endif
